

<div class="section list">
	<%= link_to("Add New Section", {:action => 'new'}, :class=> 'action new') %>
	
	<h2>Sections</h2>
	
	<table class="listing" summary="Subject list">
		<tr>
			<th>&nbsp;</th>
			<th>Section</th>
			<th>Visible</th>
			<th>Belongs To</th>
			<th>Actions</th>
		</tr>
		<% @sections.each do |section| %>
		<tr>
			<td><%= section.position %></td>
			<td><%= section.name %></td>
			<td class="center"><%= section.visible ? 'Yes' : 'No' %></td>
			<td class="center"></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
				<%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'action detete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>